service: api
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 512
  timeout: 30
  httpApi:
    cors:
      allowedOrigins:
        - https://main.d189vhebrzybwh.amplifyapp.com
        - http://localhost:5173
      allowedMethods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      allowedHeaders:
        - Content-Type
        - Authorization
      allowCredentials: true
  environment:
    SECRETS_ID: ${env:SECRETS_ID}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource: ${env:SECRETS_ID}

functions:
  api:
    handler: src/lambda.handler
    events:
      - httpApi:
          method: ANY
          path: /{proxy+}

plugins:
  - serverless-offline

package:
  patterns:
    - openapi.yaml
